/* GALLERIA */
/* Gallerian otsikko */
h2 {
        text-align: center;
        margin-top: 50px;
        font-size: xx-large;
        color: black;
        text-shadow: 2px 2px 5px
    }
.content {
    flex: 1;
    padding-bottom: 50px; 
}
    
.gallery-container {
    position: relative;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.gallery {
    display: none;
    padding: 20px;
}

.gallery-image {
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

.caption {
    font-size: 24px;
    color: #333;
    margin-top: 10px;
}

/* Nuolinäppäimet */
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}





/* Responsiivisuus gallerialle */
@media screen and (max-width: 768px) {
    .gallery-container {
        width: 100%;
        padding: 10px;
    }

    .gallery-image {
        width: 100%;
    }
}


/*Navigointtipalkki galleria */
.horisontti3 ul {
        list-style-type: none;
        margin: 0;
        padding: 10px;
        overflow: hidden;
        background-color: #333;
        font-size: 20px;
        position: relative;
        top: 0;
        width: 100%;
      }
/*Navigointtipalkki */
.horisontti3 li {
        float: left;
        text-align: center;
      }
/*Navigointtipalkki */
.horisontti3 li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
/*Navigointtipalkki */
.horisontti3 li a:hover:not(.avoin) {
        background-color: #f8a400;
      }
/*Navigointtipalkki */
.horisontti3 .avoin {
        background-color: rgb(15, 15, 15);
      }





/* Footer gallerian*/
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: fixed; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
    margin-top: auto;
}